body {
  background-color: #016F85;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #ffffff;
}

h2{
  color: goldenrod;
}
