
body{
    margin-top: 60px;
    padding: 0;
    overflow-x: hidden;
}
.row1{
    display: flex;
    justify-content: space-between; 
    gap: 10px;
    margin: 0px;
}
.bg1{
    background-color:lightcoral;
    width: 50%;
    
}
.bg2{
    background-color:lightcoral;
    width: 50%;
    
}
.classHeader{
    margin-bottom: 60px;
}
.bg2 img{
    width: 100%;
    border-radius: 5%;
    height: fit-content;
}
.bg1 img{
    width: 100%;
    border-radius: 5%;
    height: fit-content;
    margin-top: 100px;
}
.p{
    align-content: center;
} 
.logo{
    width: 200px;
    height: 100px;
} 
 /* .temerario-logo{
    margin-top: 100px;
   
}  */
  .para1{
    margin-top: 100px;
    /* padding-left: 100px;   */
    font-size: large;
    font-weight: 700;
}  
  
/* .revuelto-logo{
    margin-top: 100px;
}  */
 .para2{
    margin-top: 100px;
    padding-left: 0px;
    font-size: large;
    font-weight: 700; 
} 
 .image34{
    margin-top: 100px;
    border-radius: 5%;
} 
 .para3{
    margin-top: 100px;
    padding-left: 0px; 
    font-size: large;
    font-weight: 500;
}
.row .img1{
    padding-top: 100px;
 }  
 /* img{
    width: 100%;
    height: auto;
}

.rgt{
    padding: 3rem;
} */