
body{
    margin-top: 60px;
    padding: 0;
    overflow-x: hidden;
    /* background-image: url(/images/pexels-cesarperez209-733745.jpg);  */
    /* background-repeat: no-repeat;  */
    /* height: auto;
    width: auto; */
}

.classHeader{
    margin-bottom: 60px;
}
.logo{
    width: 200px;
    height: 100px;
} 
  .para1{
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: large;
    font-weight: 700;
}  
 .img3{
    padding-top: 100px;
    border-radius: 5%;
} 
.row .img1{
    padding-top: 100px;
 }  
 .img2{
    padding-top: 100px;
 }
.test1{
    display: flex;
}

.test1 img{
    width: 100%;
    height: auto;
    margin-top: 100px;
    border-radius: 50%;
}
.test2 img{
    width: 100%;
    height: auto;
    border-radius: 50%; 
}
.test3 img{
    width: 100%;
    height: auto; 
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 50%;
}